body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    font-size:x-large;
}

.buttonContainer { 
    


}

#rockButton, #paperButton, #scissorsButton {
     
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    font-size: 100%; 
    color: blanchedalmond;
    border-style: none;
    border-radius: 0%;

}

